.gradle/
gradle/wrapper/dists/
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
build/
app/build/
*.iml
*.hprof
*.apk
*.dex
*.class
local.properties
.DS_Store
.idea/
.cxx/
.cache/
*.lock
*.log
captures/
*.jar
*.zip
*.tar.gz
.env
*.py
